[build]
  command = "npm run build"
  publish = "dist"

# Redirect WWW to non-WWW
[[redirects]]
  from = "https://www.carolinarenew.com/*"
  to = "https://carolinarenew.com/:splat"
  status = 301
  force = true


[[headers]]
  for = "/*"
  [headers.values]
    X-Frame-Options = "DENY"
    X-XSS-Protection = "1; mode=block"
    X-Content-Type-Options = "nosniff"
    Referrer-Policy = "strict-origin-when-cross-origin"

[[headers]]
  for = "/assets/*"
  [headers.values]
    Cache-Control = "public, max-age=31536000, immutable"
